{{ template "Header" }}
<h1>Welcome to Daily Go</h1>
<p class="fs-5 col-md-8">This is my learning project where I play with Go tools and frameworks.
  This page is powered by <a href="https://gin-gonic.com">Gin</a> web framework.</p>


<hr class="col-3 col-md-2 mb-5 mt-5">

<div class="row g-5">
  <div class="col-md-6">
    <h2>Project History</h2>
    <p>What features have been adding</p>
    <ul class="icon-list ps-0">
      <li class="d-flex align-items-start mb-1"><strong>Day one</strong></li>
      <li class="d-flex align-items-start mb-1">Created a web application with Gin and Bootstrap HTML templates.</li>
      <li class="d-flex align-items-start mb-1"><strong class="mt-3">Day two</strong></li>
      <li class="d-flex align-items-start mb-1">Created a Domain/IP database using ORM (gorm).</li>
      <li class="d-flex align-items-start mb-1"><strong class="mt-3">Day three</strong></li>
      <li class="d-flex align-items-start mb-1">Configured logging with zap. Tuned up logging to&nbsp;both file and stdout, with Caller and Stacktrace options.</li>
      <li class="text-muted d-flex align-items-start mt-4">
        <a href="https://github.com/phylocko/DailyGo" class="d-flex">This project's GutHub repo</a>
      </li>
    </ul>
  </div>

  <div class="col-md-6">
    <h2>Services</h2>
    <p>List of pages that I created during the learning</p>

    <a href="/info">Info</a><br>
    <p>Determines your IP address providing additional GeoIP info</p>

    <a href="/resources">Domains</a><br>
    <p>Store and resolve Domains</p>

  </div>
</div>
{{ template "Footer" }}
