{{ template "Header" }}

<div class="row g-5">
  <div class="col-md-6">
    <h2>IP Info</h2>
    {{ if .error }}
        <div class="alert alert-danger" role="alert">
            {{ .error }}
        </div>
    {{ else }}
        <p>Data is provided by <a href="http://ipinfo.io">ipinfo.io</a></p>
        <table class="table">
            <tr>
                <th>Value</th>
                <th>Parameter</th>
            </tr>
            {{ if .info.Ip }}
            <tr>
                <td>Your IP address</td>
                <td>{{ .info.Ip }}</td>
            </tr>
            {{ end }}
            {{ if .info.Country }}
            <tr>
                <td>Country</td>
                <td>{{ .info.Country }}</td>
            </tr>
            {{ end }}
            {{ if .info.Region }}
            <tr>
                <td>Region</td>
                <td>{{ .info.Region }}</td>
            </tr>
            {{ end }}
            {{ if .info.City }}
            <tr>
                <td>City</td>
                <td>{{ .info.City }}</td>
            </tr>
            {{ end }}
            {{ if .info.Org }}
            <tr>
                <td>Org</td>
                <td>{{ .info.Org }}</td>
            </tr>
            {{ end }}
            {{ if .info.Postal }}
            <tr>
                <td>ZIP Code</td>
                <td>{{ .info.Postal }}</td>
            </tr>
            {{ end }}
            {{ if .info.Timezone }}
            <tr>
                <td>Timezone</td>
                <td>{{ .info.Timezone }}</td>
            </tr>
            {{ end }}

            <tr>
                <td>Is Bogon</td>
                <td>{{ if .info.Bogon }}Yes{{ else }}No{{ end }}</td>
            </tr>

        </table>
    {{ end }}
  </div>

  <div class="col-md-6">
    <h3>What is this?</h3>
    <p>This page make an HTTP request to <a href="http://ipinfo.io">ipinfo.io</a> API and gets your GeoIP data. The data is shown in an HTML template that why it looks so cute.</p>

    <h4>Source code</h3>
<pre>func InfoView(c *gin.Context) {
    info, err := ipinfo.GetInfo(c.ClientIP())

    pageData := gin.H{}

    if err != nil {

        if errors.Is(err, context.DeadlineExceeded) {
            pageData["error"] = "ipinfo.io connection is timed out"
            c.HTML(http.StatusOK, "info.html", pageData)
            return

        } else {
            pageData["error"] = "Error communicating with ipinfo.io"
            c.HTML(http.StatusOK, "info.html", pageData)
            return
        }
    }

    pageData["info"] = info
    c.HTML(http.StatusOK, "info.html", pageData)

}
</pre>

</div>

</div>
{{ template "Footer" }}
